@use "../../sass/responsive.module.scss" as responsive;
@use "../../sass/color.module.scss" as color;

.link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;

  padding: 0.2rem;
  margin: 0.1rem;

  @include responsive.md {
    justify-content: flex-start;
  }

  #icon svg {
    height: 1.5rem;
    color: color.$secendry;
    margin: 0;
    z-index: 9;
    margin: 0.2rem;

    @include responsive.md{
      height: 2rem;
    }
  }
  #title {
    display: none;
    font-weight: 600;
    color: color.$secendry;
    z-index: 9;
    @include responsive.md {
      display: block;
    }
  }
  &:hover {
    #title {
      color: color.$white;
    }
    #icon svg {
      color: color.$white;
      transform: scale(1.2);
    }
    transition: all 1s ease-in-out;
  }
}

.activeLink {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: color.$webOrange;
  z-index: -1;
  border-radius: 0.8rem;
  -webkit-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.5);
  ~ #icon svg {
    color: color.$white;
  }
  ~ #title {
    color: color.$white;
    @include responsive.md {
      display: block;
    }
  }
}
