@use "../../sass/responsive.module.scss" as responsive;
@use "../../sass/color.module.scss" as color;

@mixin mainStyle($textColor, $bgColor) {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.2rem;
  background-color: $bgColor;
  padding: 0.4rem;
  border-radius: 1rem;
  margin: 1rem;
  @include responsive.md {
    justify-content: flex-start;
  }

  #icon svg {
    height: 2rem;
    color: $textColor;
    margin: 0;
  }
  #title {
    display: none;
    font-weight: bold;
    color: $textColor;
    @include responsive.md {
      display: block;
    }
  }
}

.link {
  @include mainStyle(color.$secendry, transparent);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
    background-color: transparent;
    border-radius: 1rem;
  }

  &:hover {
    #title {
      color: color.$white;
    }
    #icon svg {
      color: color.$white;
      transform: scale(1);
    }
    transition: all 1s ease-in-out;
    &::before {
      background-color: color.$webOrange;
      
      @keyframes hoverLink {
        0% {
          transform:scale(0);
        }
        100% {
          transform: scale(1);
        }
      }
      animation-name: hoverLink;
      animation-duration: 0.3s;
    }
  }
}

.linkActive {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  @include mainStyle(color.$white, color.$webOrange);
  #icon svg {
    transform: scale(1.1);
  }
}
