@use "../../sass/color.module.scss" as color;
@use "../../sass/responsive.module.scss" as responsive;
.container {
  position: relative;
  flex: 0.2;
  @include responsive.lg {
    flex: 0.15;
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background: color.$primery;
    margin: auto 0.2rem;
    padding: 1rem 0.5rem;
    border-radius: 1rem;
    position: fixed;
    height: 85vh;
    svg#logo {
      width: 2rem;
      height: auto;
      object-fit: contain;
      margin-bottom: 1rem;
      @include responsive.md{
        width: 3rem;
      }
    }
    .navigator {
      display: flex;
      flex: 0.97;
      flex-direction: column;
      margin: 0.2rem 0;
    }
    .social {
      display: flex;
      justify-content: flex-end;
      gap: 0.5rem;
      a {
        svg {
          width: 0.7rem;
          height: auto;
          object-fit: contain;
        }
      }
    }
  }
}
